<h1>Tipos de aeronaves>
<p>Find me in app/views/aircraft_types/edit.html.erb</p>

<%= render 'form' %>

<%= link_to image_tag("left_arrow.png", :size=>"40x40", :border=>0, :title=>"Voltar"), aircraft_types_path %>
<%= link_to image_tag("info.png", :size=>"40x40", :border=>0, :title=>"Detalhes"), @aircraft_type%>

