<h1>Tipos de aeronave</h1>
<hr>
<table>
  <tr>
    <th>Nome</th>
    <th align='right'>Preço hora</th>
  </tr>
  <% @aircraft_types.each do |at| %>
    <tr>
      <td><%= at.name %></td>
      <td align='right'><%= at.hour_price.real %></td>
      <td align="right" width="25px"><%= link_to image_tag("info.png", :size=>"20x20", :border=>0, :title=>"Detalhes"), at %></td>

      <td align="center" width="25px"><%= link_to image_tag("edit.png", :size=>"20x20", :border=>0, :title=>"Editar"), edit_aircraft_type_path(at) %></td>

    </tr>
  <% end %>
</table>
<hr>
