<script type="text/javascript">
  $(function() {
		$(".datepicker").datepicker();
	});
</script>


		<td width="130"><%= text_field_tag :start_date, @start_date, :class=>'datepicker', :size=>10 %></td>
		<td>
		 <%= text_field_tag :end_date, @end_date, :class=>'datepicker', :size => 10%></td>	
	
		<td align="left" width="50"><%= submit_tag :search , :onclick => "javascript:search('#{action_name}');" %></td>
	



