<p>
  <h2>Recebimentos</h2>
</p>

<table>
  <tr>
    <th>Data</th>
    <th>Descrição</th>
    <th>Valor</th>
  </tr>
<% @client.entries.order(:entry_date).each do |r| %>
  <tr>
    <td><%= r.entry_date %></td>
    <td><%= r.description %></td>
    <td><%= r.value %></td>
  </tr>
<% end %>
</table>