<p>
  <h2>Crédito de horas</h2>
</p>

<table>
  <tr>
    <th>Data</th>
    <th>Crédito</th>
    <th>Débito</th>
    <th>Saldo</th>
  </tr>
<% total = 0 %>
<% @client.balances.order(:date).each do |balance| %>
  <tr>
    <td><%= balance.date %></td>
    <% if balance.credit? %>
      <td><%= balance.hours.to_s + balance.sale.package.name %></td>
      <td>&nbsp;</td>
      <% total += balance.hours %>
    <% else %>
      <td>&nbsp;</td>
      <td><%= balance.hours   %></td>
      <% total -= balance.hours %>
    <% end %>
    <td><%= total %></td>
  </tr>
  <br />
<% end %>
</table>