<p>
  <h2>Vendas</h2>
</p>
<table>
  <tr>
    <td>Data</td>
    <td>Descrição</td>
    <td>Valor</td>
  </tr>
<% @client.sales.order(:date).each do |sale| %>
  <tr>
    <td><%= sale.date %></td>
    <td><%= sale.aircraft_type.name %></td>
    <td><%= sale.value %></td>
  </tr>
<% end %>
</table>