<p>
  <b>Vendas</b>
</p>
<table>
  <tr>
    <td>Data</td>
    <td>Descrição</td>
    <td>Valor</td>
  </tr>
<% @client.sales.each do |sale| %>
  <tr>
    <td><%= sale.due_date %></td>
    <td><%= sale.package && sale.package.description %></td>
    <td><%= sale.value %></td>
  </tr>
<% end %>
</table>