/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

a:hover {background:#ffffff; text-decoration:none;} /* background-color e necessario para o IE6 */
a.tooltip span {display:none; padding:2px 3px; margin-left:8px; width:130px;}
a.tooltip:hover span{display:inline; position:absolute; background:#ffffff; border:1px solid #cccccc; color:#6c6c6c;}

/*th {
  text-align:left;
} 
*/
tr {
	text-align:left;
	}

table {
	width:95%;
	border-color:#FFFACD;
}

.subtitle {
	-moz-border-bottom-left-radius: 12px;
	-moz-border-bottom-right-radius:12px;
  -webkit-border-bottom-left-radius: 12px;
  -webkit-border-bottom-right-radius: 12px;
	background:#6e9aeb;
	height:30px;
	padding:15px;
}

td {
	vertical-align:middle;
}


.result {
	font-weight:bold;
	text-align:right;
	
}
#table_form {
	width: 90%;
	margin: 0px auto;
	border-collapse: collapse;
 }
#table_form .rowa {
	background: #ffffff;
	height: 20px;

}
#table_form .rowb {
	background: #f0f0f0;
	height: 20px;
}
#table_form .cell {
	padding: 2px;
	height:25px;

}
#sidebar ul li.header {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #242527;
  color: #FFF;
  font-size: 14px;
  padding: 0.25em 0.5em;
  margin: 0.5em 0;
}

#table_search {
	background-color:"#ccc"
}

#sidebar ul {
  margin: 0;
}

#sidebar ul li {
  line-height: 1.5em;
}

#sidebar ul ul li {
  list-style: none;
  padding-left: 0.5em;
}

#sidebar ul li a {
  color: white;
}

#sidebar ul li a:hover{
  color: #6e9aeb;
}

#sidebar ul li a:active{
  color: #6e9aeb;
}

#sidebar ul ul li a {
  color: #242527;
}

#sidebar a {
  text-decoration: none;
}


html, body{ 
 margin:0; 
 padding:0; 
 } 
 
#pagewidth{ }
 
#header{
 position:relative; 
 height:70px; 
  background-color:#414749;
 color: white;
 padding-left: 20px;
 padding-top: 20px;
 width:100%;
 display:block;
 overflow:auto;
}

#header a{
color:white;
text-decoration:none;	
} 

#header a:hover{
color:#6e9aeb;	
} 
 
#header2{
 	-moz-border-radius: 6px;
  -webkit-border-radius: 6px;
 position:relative; 
 height:auto; 
 background-color:#FFFACD;
 color: black;
 padding: 3px;
 width:99%;
 display:block;
 overflow:auto;
 border: solid thin gray;
 margin-bottom:5px;
}
#header3{
 	-moz-border-radius:6px;
  -webkit-border-radius: 6px;
 position:relative; 
 height:auto; 
 background-color:#f0f0f0;
 color: black;
 padding: 3px;
 width:99%;
 display:block;
 overflow:auto;
 border: solid thin gray;
 margin-bottom:5px;
}

#leftcol{
 width:17%; 
 float:left;
 position:relative; 
 background-color:#FFFFFF; 
 }
#leftcol2{
 	-moz-border-radius:6px;
  -webkit-border-radius: 6px;
 width:17%;
 height:auto;
 float:left;
 position:relative; 
 background-color:#F0f0f0;
 border:solid thin gray;
 }
 
#maincol{
 background-color: #FFFFFF; 
 padding-right: 20px;
 position: relative; 
 width:79%;
 float:right;
 }
#maincol2{
	-moz-border-radius:6px;
  -webkit-border-radius: 6px;
 background-color: #FFFFFF; 
 padding-right: 20px;
 position: relative; 
 width:79%;
 float:right;
 border:solid thin gray;
 }
#maincol a{
	background-color:white;
	text-decoration: none;
}

#maincol a:hover {
	background-color:white;
	color:#6e9aeb;
}


#footer{
 height:70px; 
 padding-left: 20px;
 padding-top: 20px;
 clear:both;
 display:block;
 overflow:auto;
} 
 
.form_row {
	padding-left:5px;
} 

.col1cell {
	border-top:solid thin gray;
	border-left:solid thin gray;
	border-bottom:solid thin gray;
	padding:5px;
	background:#f0f0f0;
	width:22%;	
}
.col2cell {
	border-top:solid thin gray;
	border-right:solid thin gray;
	border-bottom:solid thin gray;
	padding:5px;
	background:#f0f0f0;
	width:3%;
}

.col3cell {
	border-top:solid thin gray;
	border-left:solid thin gray;
	border-bottom:solid thin gray;
	padding:5px;
	width:22%;	
}
.col4cell {
	border-top:solid thin gray;
	border-right:solid thin gray;
	border-bottom:solid thin gray;
	padding:5px;
	width:3%;
}

.col5cell {
	border-top:solid thin gray;
	border-left:solid thin gray;
	border-bottom:solid thin gray;
	padding:5px;
	background:#f0f0f0;
	width:22%;	
}
.col6cell {
	border-top:solid thin gray;
	border-right:solid thin gray;
	border-bottom:solid thin gray;
	padding:5px;
	background:#f0f0f0;
	width:3%;	
}

.col7cell {
	border-top:solid thin gray;
	border-left:solid thin gray;
	border-bottom:solid thin gray;
	padding:5px;
	width:22%;	
}
.col8cell {
	border-top:solid thin gray;
	border-right:solid thin gray;
	border-bottom:solid thin gray;
	padding:5px;
	width:3%;
}
/* ******************************************************************** */ 
/* Clearfix: http://csscreator.com/attributes/containedfloat.php        */
/* ******************************************************************** */
.clearfix:after {
 content: "."; 
 display: block; 
height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */  


 
 
/* ******************************************************************** */ 
/*                      printer styles                                  */ 
/* ******************************************************************** */ 
     
 @media print{ 
/*hide the left column when printing*/ 
#leftcol{display:none;} 
#twocols, #maincol{width:100%; float:none;}
}
