<h1>Editar</h1>

<%= render 'form' %>

<%= link_to image_tag("left_arrow.png", :size=>"40x40", :border=>0, :title=>"Voltar"), accounts_path %>
<%= link_to image_tag("info.png", :size=>"40x40", :border=>0, :title=>"Detalhes"), @account%>
